body {
  text-align: center;
  margin: auto;
}

#mainHeader {
  font-family: "Arial", cursive, sans-serif;
  background-color: "fb91ff";
  width: 1000px;
    padding: 25px;
    padding-left: 100px;
    margin: px;
}
